@import '../../base/theme.css';

@source '../../../../app/Filament/IntegracaoTotem/**/*';
@source '../../../../resources/views/filament/integracao-totem/**/*';
@source '../../../../resources/views/components';
